// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../pebbles/includes/lib';
@import '../pebbles/components/newsletter';
@import '../pebbles/components/modal';
@import '../hubs/sections';

$color-quantum-blue: #0a84ff;

/* -------------------------------------------------------------------------- */
// Common elements

body {
    @include open-sans;
}

#outer-wrapper {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

.button.photon,
.button.photon:link,
.button.photon:visited {
    @include transition(box-shadow .1s ease-in-out);
    background: #FF8E00;
    background: linear-gradient(to right, #C40771 17%, #FF8E00 56%, #FFEF4C 100%);
    border-radius: 100px;
    border: none;
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, .25);
    color: #fff;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
        box-shadow: 0 0 11px 0 rgba(255, 255, 255, .25);
        color: #fff;
    }
}

.button.photon-flat,
.button.photon-flat:link,
.button.photon-flat:visited {
    @include transition(background .1s ease-in-out);
    background: #0A84FF;
    border-radius: 100px;
    border: none;
    color: #fff;

    &:hover,
    &:active,
    &:focus {
        background: lighten(#0A84FF, 5%);
        color: #fff;
    }
}

/* -------------------------------------------------------------------------- */
// Top header

.main-header {
    background: #0060df;
    background: url('/media/img/firefox/quantum/fox-tail-header.png') top -60px center no-repeat,
                linear-gradient(148deg, #0060df 7%, #0479f4 20%, #0681fc 27%, #02bdf1 60%, #01d3f0 67%, #05f0e6 100%);
    color: #fff;
    padding: 60px 0;
    position: relative;
    z-index: 1;

    .content {
        z-index: 2;
    }

    h1 {
        @include at2x('/media/img/logos/firefox/logo-quantum.png', 189px, 189px);
        background-repeat: no-repeat;
        padding-top: 210px;
    }

    a:link,
    a:visited {
        color: #fff;
        text-decoration: none;
    }

    a:hover,
    a:active,
    a:focus {
        color: #fff;
        text-decoration: underline;
    }

    p {
        margin: 40px 0;
    }

    .cta-wrapper {
        display: inline-block;
        text-align: center;
    }

    .beta-link {
        display: block;
        margin-top: 10px;
    }

    .header-content {
        float: left;
        width: 50%;
    }

    .header-video {
        float: right;
        width: 50%;

        img {
            padding-left: 20px;
            max-width: none;
        }
    }

    &:after {
        background: transparent url('/media/img/firefox/quantum/wave-top.svg') top center no-repeat;
        bottom: -40px;
        content: '';
        display: block;
        height: 355px;
        left: 50%;
        margin-left: -2122px;
        position: absolute;
        width: 3844px;
    }
}

html[dir="rtl"] .main-header {
    h1 {
        background-position: top right;
    }

    .header-content {
        float: right;
    }

    .header-video {
        float: right;
    }
}

/* -------------------------------------------------------------------------- */
// Key features sections

.key-features-section {
    background: #fff;

    h2 {
        color: $color-quantum-blue;
        margin-bottom: 40px;
        padding-top: 40px;
        position: relative;

        &:before {
            background: #00c8d7;
            border-radius: 5px;
            content: '';
            height: 5px;
            left: 0;
            position: absolute;
            top: 0;
            width: 130px;
        }
    }

    .key-feature {
        background-position: top center;
        background-repeat: no-repeat;
        margin-top: 40px;
        text-align: center;

        h2:before {
            left: 50%;
            margin-left: -65px;
        }

        &.fast {
            @include at2x('/media/img/firefox/quantum/faster.png', 130px, 141px);
            padding-top: 160px;
        }

        &.performance {
            @include at2x('/media/img/firefox/quantum/performance.png', 160px, 150px);
            padding-top: 170px;
        }

        &.privacy {
            @include at2x('/media/img/firefox/quantum/privacy.png', 204px, 182px);
            padding-top: 200px;
        }

        &.mozilla {
            @include at2x('/media/img/firefox/quantum/mozilla.png', 188px, 181px);
            padding-top: 200px;
        }

        @media #{$mq-tablet} {
            @include clearfix;
            background-position: top right;
            text-align: left;

            &.fast,
            &.performance,
            &.privacy,
            &.mozilla {
                h2:before {
                    left: 0;
                    margin-left: 0;
                }
            }

            &.design {
                text-align: center;
            }

            .key-feature-content {
                width: 45%;

                p {
                    max-width: 24em;
                }
            }

            &.fast {
                @include background-size(195px 212px);
                min-height: 250px;
                padding-top: 0;
            }

            &.performance {
                @include background-size(239px 225px);
                min-height: 250px;
                padding-top: 0;
            }

            &.privacy {
                @include background-size(306px 273px);
                min-height: 300px;
                padding-top: 0;
            }

            &.mozilla {
                @include background-size(281px 272px);
                min-height: 300px;
                padding-top: 0;
            }

            &:nth-child(even) {
                background-position: top left;

                .key-feature-content {
                    float: right;
                    text-align: right;

                    h2:before {
                        left: auto;
                        right: 0;
                    }

                    p {
                        float: right;
                    }
                }
            }
        }

        @media #{$mq-desktop} {

            &.fast {
                @include background-size(260px 282px);
                min-height: 300px;
            }

            &.performance {
                @include background-size(319px 300px);
                min-height: 320px;
            }

            &.privacy {
                @include background-size(408px 364px);
                min-height: 380px;
            }

            &.mozilla {
                @include background-size(375px 362px);
                min-height: 380px;
            }
        }

        @media #{$mq-desktop-wide} {
            background-position: top right 100px;

            &:nth-child(even) {
                background-position: top left 100px;
            }
        }
    }
}

html[dir="rtl"] .key-features-section .key-feature {

    h2:before {
        left: 50%;
        margin-left: -65px;
    }

    @media #{$mq-tablet} {
        background-position: top left;
        text-align: right;

        &.fast,
        &.performance,
        &.privacy,
        &.mozilla {
            h2:before {
                left: auto;
                right: 0;
                margin-left: 0;
            }
        }

        &.design {
            text-align: center;
        }

        &:nth-child(even) {
            background-position: top right;

            .key-feature-content {
                float: left;
                text-align: left;

                h2:before {
                    left: 0;
                    right: auto;
                }

                p {
                    float: left;
                }
            }
        }
    }

    @media #{$mq-desktop-wide} {
        background-position: top left 100px;

        &:nth-child(even) {
            background-position: top right 100px;
        }
    }
}

/* -------------------------------------------------------------------------- */
// Features carousel

.feature-carousel-container {
    margin: 0 auto;
    max-width: 850px;
    position: relative;

    p {
        margin: 40px auto;
    }
}

.js .feature-carousel-container {

    .feature-carousel-previous,
    .feature-carousel-next {
        @include image-replaced();
        @include transition(background-color .1s ease-in-out);
        background-color: transparent;
        background-repeat: no-repeat;
        border-radius: 100%;
        border: none;
        display: none;
        height: 74px;
        position: absolute;
        top: 30%;
        width: 74px;

        &:hover,
        &:focus {
            background-color: #f7f7f7;
        }
    }

    .feature-carousel-previous {
        @include at2x('/media/img/firefox/quantum/carousel/arrow-left.png', 74px, 74px);
        left: -110px;
    }

    .feature-carousel-next {
        @include at2x('/media/img/firefox/quantum/carousel/arrow-right.png', 74px, 74px);
        right: -110px;
    }

    @media #{$mq-desktop} {
        .feature-carousel-previous,
        .feature-carousel-next {
            display: block;
        }
    }
}

.feature-carousel {
    margin: 0 auto;
    overflow: hidden;

    li {
        width: 100%;
    }

    figure {
        display: block;
        margin: 0 auto 20px;
        max-width: 850px;
        text-align: center;
        width: 100%;
    }

    figcaption {
        color: #b1b1b3;
        margin-top: 20px;
    }

    video {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
        height: auto;
        width: 100%;
    }

    @media #{$mq-desktop} {
        figcaption {
            margin-top: 40px;
        }
    }
}

.js .feature-carousel li {
    @media #{$mq-desktop} {
        display: none;
    }
}

/* -------------------------------------------------------------------------- */
// Sticky footer

.sticky-footer {
    background: #fff;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2);
    text-align: center;

    p {
        @include font-size-level4;
        display: inline-block;
        margin: 0;
        padding: .5em 0 .5em 70px;
        position: relative;

        &:before {
            @include at2x('/media/img/logos/firefox/logo-quantum.png', 60px, 60px);
            background-position: left center;
            background-repeat: no-repeat;
            content: '';
            height: 60px;
            left: 0;
            position: absolute;
            top: 0;
            width: 60px;
        }
    }

    .button.photon-flat {
        @include font-size-level6;
        margin-left: .5em;
    }

    &.stuck {
        bottom: 0;
        left: 0;
        position: fixed;
        width: 100%;
        z-index: 100;
    }
}

#colophon {
    padding-bottom: 100px;
}

/* -------------------------------------------------------------------------- */
// Other features list

.other-features {
    background: #0a84ff url('/media/img/firefox/quantum/fox-tail-features.png') top -160px center no-repeat;
    color: #fff;
    padding-bottom: 250px;
    position: relative;
    text-align: center;

    &:after {
        background: transparent url('/media/img/firefox/quantum/wave-middle.svg') top center no-repeat;
        bottom: -10px;
        content: '';
        display: block;
        height: 304px;
        left: 50%;
        margin-left: -1910px;
        position: absolute;
        width: 3821px;
    }

    .content {
        padding-top: 60px;
    }

    h2 {
        margin-bottom: 60px;
        padding-top: 40px;
        position: relative;

        &:before {
            background: #fff;
            border-radius: 5px;
            content: '';
            height: 5px;
            left: 50%;
            margin-left: -75px;
            position: absolute;
            top: 0;
            width: 130px;
        }
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
        }
    }

    h3 {
        @include font-size-level5;
        background-position: top center;
        background-repeat: no-repeat;
        font-weight: bold;
        margin-bottom: 20px;
        padding-top: 180px;

        &.new-tab {
            background-image: url('/media/img/firefox/quantum/features/new-tab.svg');
        }

        &.library {
            background-image: url('/media/img/firefox/quantum/features/library.svg');
        }

        &.extensions {
            background-image: url('/media/img/firefox/quantum/features/extensions.svg');
        }

        &.mobile-browsing {
            background-image: url('/media/img/firefox/quantum/features/mobile-browsing.svg');
        }
    }
}

@supports(display: grid) {
    .other-features ul {
        @media #{$mq-phone-wide} {
            display: grid;
            grid-gap: 40px;
            grid-template-columns: repeat(2, 1fr);
        }

        @media #{$mq-desktop-wide} {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

/* -------------------------------------------------------------------------- */
// Bottom sign up cta

.secondary-sign-up {
    background: #0060df;
    background: url('/media/img/firefox/quantum/fox-tail-sign-up.png') top -100px center no-repeat,
                linear-gradient(-80deg, #0060df 11%, #0080ff 45%, #00feff 82%, #06fde1 100%);
    color: #fff;
    padding-top: 390px;
    position: relative;

    &:before {
        background: transparent url('/media/img/firefox/quantum/wave-bottom.svg') top center no-repeat;
        content: '';
        display: block;
        height: 390px;
        left: 50%;
        margin-left: -2307px;
        position: absolute;
        top: -20px;
        width: 4615px;
    }

    h2 {
        @include font-size-level3;
        line-height: 1.3;
        max-width: 18em;
    }

    .secondary-sign-up-content {
        margin-top: -140px;
        min-height: 300px;
        padding-left: 460px;
        position: relative;

        &:before {
            @include at2x('/media/img/firefox/quantum/laptop.png', 422px, 248px);
            background-position: top left;
            background-repeat: no-repeat;
            content: '';
            height: 248px;
            left: 0;
            position: absolute;
            top: 0;
            width: 422px;
        }
    }
}

/* -------------------------------------------------------------------------- */
// Newsletter modal

.newsletter-modal {
    .content {
        background: #fff;
        text-align: center;
    }

    .form-contents {
        margin: 0 auto;
        max-width: 260px;
    }

    .field-email input {
        max-width: 100%;
    }

    .field {
        margin-bottom: 20px;
    }

    .button.photon-flat {
        margin: 10px auto 20px;
        max-width: 260px;
    }

    h3 {
        color: $color-quantum-blue;
        margin: 20px 0;
    }

    h4 {
        @include font-size-level5;
        margin-bottom: 40px;
    }

    select {
        max-width: 100%;
    }
}

#footer-email-errors {
    color: #ff0000;
}

#newsletter-form-thankyou {
    padding-top: 100px;
}

.js .newsletter-modal {
    display: none;
}

#modal .newsletter-modal {
    display: block;

    .content {
        min-width: 260px;
    }
}

#modal .window .inner {
    background: transparent;
    max-width: 760px;

    //compensate for no modal title.
    .overlay-contents {
        padding-top: 60px;
    }
}
